:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: #fff;
  --select-bg: rgba(255, 255, 255, 0.6);
}

body{
  animation: fade-in 1s backwards ;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  padding-top: 80px;
  background: linear-gradient(#141e30, #243b55);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ! Contenedor Principal */
.main-container{
  width: 920px;
  margin: auto;
  padding: 25px;
  margin-bottom: 40px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
}

/* ! Sección Encabezado */

.encabezado{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-bottom: 50px;
}

.uni-encabezado{
  text-align: center;
  margin-bottom: 50px;
}

.uni-encabezado h1{
  font-size: x-large;
  font-weight: 700;
  text-transform: uppercase;
}

img{
  width: 150px;
  height: 150px;
}

/* ! Sección Proyecto */
.proyecto{
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-size: larger;
}

/* ! Sección Profesor */
.profesor{
  margin-bottom: 50px;
}

.profesor h3{
  letter-spacing: 1px;
  font-weight: bold;
}

.profesor p{
  font-size:large;
}

/* ! Sección Integrantes */

.integrantes{
  text-align: center;
  margin-bottom: 50px;
}

.integrantes h3{
  letter-spacing: 1px;
  font-weight: bold;
}

.integrantes p {
  padding: 5px;
  margin-bottom: 15px;
  display: inline; 
  font-size: large;
}

.integrantes .int-1{
  margin: 20px;
}

/* ! Sección Fecha */
.fecha-entrega{
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-size: large;
  font-weight: bold;
}

/* ! Sección Botón */

a{
  display:grid;
  height: 40px;
  width: 120px;
  margin: auto;
  place-items: center;
  color: #000;
  text-decoration: none;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 0px 0px 6px #c5c5c5, 0px 0px 6px #ffffff;
}

a:active{
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

@keyframes fade-in {
  from{
    background-color: linear-gradient(#141e30, #243b55);
    opacity: 0;
    transform: translateY(50vh);
  }

  to{
    background-color: linear-gradient(#141e30, #243b55);
    opacity: 1;
    transform: translateY(0);
  }
}